[submodule "bottom-sheet-alert-dialog"]
	path = bottom-sheet-alert-dialog
	url = https://github.com/unbiaseduser/bottom-sheet-alert-dialog
[submodule "conflict-resolver"]
	path = conflict-resolver
	url = https://github.com/unbiaseduser/conflict-resolver
[submodule "custom-action-mode"]
	path = custom-action-mode
	url = https://github.com/unbiaseduser/custom-action-mode
[submodule "material-spinner"]
	path = material-spinner
	url = https://github.com/unbiaseduser/material-spinner
[submodule "stuff"]
	path = stuff
	url = https://github.com/unbiaseduser/stuff
